accelerate==1.0.1
datasets==3.0.2
evaluate==0.4.3
ipykernel==6.29.5
langchain==0.3.7
langchain-huggingface==0.1.2
sentence-transformers==3.2.1
matplotlib==3.9.2
numpy==2.1.2
pandas==2.2.3
seaborn==0.13.2
torch==2.5.0
transformers==4.46.0
wandb==0.18.5