cleanlab==2.7.0
evaluate==0.4.3
langchain_core==0.3.15
langchain_ollama==0.2.0
matplotlib==3.9.2
numpy==1.23.0
pandas==2.2.3
rank_bm25==0.2.2
scikit_learn==1.5.2
seaborn==0.13.2
torch==2.1.0
tqdm==4.66.6
transformers==4.46.1
